 .large-hero {
     position: relative;

     &__text-content{
        /* position absolute looking for nearest relative's position parent and it is .large-hero */
        position: absolute;
        /* pull it down 50% */
        top:50%;
        left:0;
        text-align: center;
        /* make it center */
        width: 100%;
        /* push it up 50% of div height */
        transform:translateY(-50%);
    }

    &__title {
        font-weight: 300;
        color: $mainBlue;
        font-size: 1.1rem ;
        margin: 0;
        // @media(min-width: 530px){
        //     font-size: 4.8rem;
        // }

        @mixin atSmall {
            font-size: 4.8rem;
        }
    } 
   
    &__subtitle {
       font-weight: 300;
       color: $mainBlue;
       font-size: 2.8rem ;
       margin:0;
    }

    &__description{
        color: #fff;
        font-size: 1.875rem;
        font-weight: 100;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
        /* break the word after reach 30rem * 16px (default) = 480px*/
        max-width: 30rem;
        margin-left: auto;
        margin-right: auto; 
    }
 }
/* 
 .large-hero h1 {
     font-weight: 400;
 } not allowed in BEM, unspecific and will cause nightmare in suistainable development*/


